<html>
    <head>
        <title>Jekatyerina's blog</title>
    </head>
    <body>
        <div>
          <h1>Jekatyerina's blog</h1>
        </div>

        <div>
                    <p>published: 22.11.2015, 12:10</p>
                    <h2><a href="">Első posztom</a></h2>
                    <p>Működik!</p>
                    <p>nagyon ügyesek vagyunk...</p>
                    <p>mi lesz az ebéd? ;)</p>
        </div>

        <div>
                    <em>Django Girls Budapest</em>
        </div>
    </body>
</html>
